body {
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    /* background-size:100% 100%; */
}
#root {
    text-align: center;
    height: 100%;
    width: 100%;
}
.white-text {
    color: white;
}
